<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
  <test name="SeleniumTest">
    <classes>
      <class name="ExtendedChoiceParameterSeleniumTestNG"/>
    </classes>
  </test>
  <test name="TestCreateMethod">
  	<classes>
  		<class name="ExtendedChoiceParameterMock">
  	</classes>  	  	
  </test>
</suite>
